In [1]:
from google.cloud import bigquery
import pandas as pd
import os

In [2]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "/home/jasonzelin/jasonzelin_data-analytics-portfolio.json"

In [3]:
client = bigquery.Client()
query = """
SELECT
    *
from
    `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`
limit 5
"""

df = client.query(query).to_dataframe()
df

/home/jasonzelin/data-analytics-portfolio/venv/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1957: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,zone_id,zone_name,borough,zone_geom
0,1,Newark Airport,EWR,"POLYGON((-74.1856319999999 40.6916479999999, -..."
1,3,Allerton/Pelham Gardens,Bronx,"POLYGON((-73.848596761 40.8716707849999, -73.8..."
2,18,Bedford Park,Bronx,"POLYGON((-73.8844286139999 40.8668003789999, -..."
3,20,Belmont,Bronx,"POLYGON((-73.8839239579998 40.8644177609999, -..."
4,31,Bronx Park,Bronx,"POLYGON((-73.8710017319999 40.8572767429999, -..."